
*{
    margin: 0px;
    padding: 0px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
    background-blend-mode: lighten;
}
// body{
//     background-image: linear-gradient(7deg, rgba(0, 0, 0, 0.8500) 10.00%, rgba(0, 0, 0, 0.8465) 17.25%, rgba(0, 0, 0, 0.8361) 24.50%, rgba(0, 0, 0, 0.8187) 31.75%, rgba(0, 0, 0, 0.7944) 39.00%, rgba(0, 0, 0, 0.7632) 46.25%, rgba(0, 0, 0, 0.7250) 53.50%, rgba(0, 0, 0, 0.6868) 60.75%, rgba(0, 0, 0, 0.6556) 68.00%, rgba(0, 0, 0, 0.6312) 75.25%, rgba(0, 0, 0, 0.6139) 82.50%, rgba(0, 0, 0, 0.6035) 89.75%, rgba(0, 0, 0, 0.6000) 97.00%);
// }
#navbar{
    display: grid;
    grid-template-columns: auto auto;
    // justify-content: space-between;
    padding: 20px 148px 20px 148px;
    position: absolute;
    z-index: 2;
    #navbarart1{
        div{
            margin-right: 890px;
            height: 30px;
            width: 150px;
        }
    }
    #navbarart2{
        display: flex;
        justify-content: space-evenly;
        div{
            font-size: 20px;
            select{
                width: 100px;
                height: 30px;
                background-color: rgba(0, 0, 0, 0.562);
                color: white;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
            }
            button{
                height: 30px;
                width: 80px;
                background-color: rgb(229, 9, 20);
                color: white;
                margin-left: 10px;
                border: none;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 600;
            }
          }
    }
}

// ======================hero section=================================

#hero{
    background-image:linear-gradient(7deg, rgba(0, 0, 0, 0.8500) 10.00%, rgba(0, 0, 0, 0.8465) 17.25%, rgba(0, 0, 0, 0.8361) 24.50%, rgba(0, 0, 0, 0.8187) 31.75%, rgba(0, 0, 0, 0.7944) 39.00%, rgba(0, 0, 0, 0.7632) 46.25%, rgba(0, 0, 0, 0.7250) 53.50%, rgba(0, 0, 0, 0.6868) 60.75%, rgba(0, 0, 0, 0.6556) 68.00%, rgba(0, 0, 0, 0.6312) 75.25%, rgba(0, 0, 0, 0.6139) 82.50%, rgba(0, 0, 0, 0.6035) 89.75%, rgba(0, 0, 0, 0.6000) 97.00%), url('./image/IN-en-20240916-TRIFECTA-perspective_72df5d07-cf3f-4530-9afd-8f1d92d7f1a8_large.jpg');
    height: 100vh;
    width: 100%;
    // background:linear-gradient(rgba(0, 0, 0, 0.799)),rgba(0, 0, 0, 0.799) ; 
    background-position: center;
    background-size: cover;
    // background-attachment: fixed;
    
    // background-repeat: no-repeat;
    // position: relative;
    // top: 0px;
    // z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
    div{
        width: 600px;

        #herodiv1{
                h1{
                    font-size: 56px;
                    font-weight: 900;
                    margin-bottom: 20px;
                }
                u{
                    font-size: 20px;
                    font-weight: 600;
                    text-decoration: none;
                    
                }
            
        }
        #herodiv2{
            div{
                font-size: 18px;
                input{
                    width: 340px;
                    height: 50px;
                    background-color: rgba(22, 22, 22, 0.7);
                    border: 0.5px solid rgba(128, 128, 128, 0.7);
                    border-radius: 4px;
                    padding: 0px 0px 0px 15px;
                    ::placeholder{
                        font-size: 26px;
                    }
                }
                button{
                    height: 50px;
                    width: 200px;
                    background-color: rgb(229, 9, 20);
                    margin-left: 10px;
                    border: none;
                    border-radius: 4px;
                    color: white;
                    font-size: 22px;
                    font-weight: 600;
                    i{
                        font-size: 22px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    
}

//========================================= trending section===================================

#trending article{
    background-color: black;
    height: fit-content;
    color: white;
    padding: 40px 150px 40px 150px;
    h3{
        font-size: 24px;
        font-weight: 500;
    }
    #trendingoptions{
        margin-top: 15px;
        select {
            width: 100px;
            height: 40px;
            background-color: rgba(30, 30, 30, 0.562);
            color: white;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            margin-left: 20px;
        }
    }
    #tredingmoviecard{
        display: flex;
        overflow: scroll;
        margin-top: 15px;
        div{
            border-radius: 8px;
            padding: 8px 22px 8px 22px;
            img{
                overflow: hidden;
                border-radius: 8px;
                height: 250px;
                width: 180px;
            }
        }
    }
    #tredingmoviecard::-webkit-scrollbar{
        display: none;
    }
    
}

// ==========================reasons to add section================================

#reason{
    background-color: black;
    color: white;
    padding: 40px 150px 40px 150px;
    h3{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    #reasoncard{
        display: flex;

        div{
            height: 290px;
            width: 280px;
            padding: 24px 16px 0px 16px;
            background-image:linear-gradient(rgba(81, 81, 146, 0.614)rgba(0, 0, 0, 0.6000)) ;
    
            border-radius: 16px;
            margin-left: 20px;
            font-size: 18px;
            h3{
                margin-bottom: 20px;
                font-size: 26px;
            }
        }
    }
}

// ============================FAQ section =======================================

#FAQ{
    background-color: black;
    color: white;
    padding: 40px 150px 40px 150px;
    h3{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    #questions{
        div{
            background-color: rgb(50, 50, 50);
            padding: 24px;
            margin-bottom: 10px;
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            #fa-solid{
                height: 36px;
                width: 36px;
                color: white;
            }
        }
    }
}

// ============================membership==================

#membership{
    background-color: black;
    color: white;
    align-items: center;
    padding: 30px 0px 30px 0px;
    div{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
        align-items: center;
        input{
            width: 560px;
            height: 50px;
            background-color: rgba(22, 22, 22, 0.7);
            border: 0.5px solid rgba(128, 128, 128, 0.7);
            border-radius: 4px;
            padding: 0px 0px 0px 15px;
            ::placeholder{
                font-size: 26px;
            }
        }
        button{
            height: 50px;
            width: 200px;
            background-color: rgb(229, 9, 20);
            margin-left: 10px;
            border: none;
            border-radius: 4px;
            color: white;
            font-size: 22px;
            font-weight: 600;
            i{
                font-size: 22px;
                margin-left: 10px;
            }
        }
    }
}

// =================================footer====================================

footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
    padding: 40px 150px 40px 150px;
    h4{
        margin-bottom: 30px;
    }
    div{
        margin-bottom: 30px;
    }
    #footerlist{
        display: grid;
        grid-template-columns: auto auto auto auto;
        font-size: 16px;
        div{
            div{
                margin-bottom: 15px;
                text-decoration: underline 1px;
            }
            #netflixindia{
                margin-bottom: 0px;
            }
        }
    }
}
#footerselect{
    width: 100px;
                height: 30px;
                background-color: rgba(30, 30, 30, 0.562);
                color: white;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
}
#netflixindia{
    margin-bottom: 50px;
}